<h2>Logout</h2>
<p>Thank you for using Debt Remedy</p>

<%form_for(@feedback, :url => {:action => :logout}) do |f| %>


<%=f.text_area :content %>

<br/>

<%=f.label :name, "Name"%>
<%=f.text_field :name %>

<%=submit_tag "Send feedback"%>

<%end%>
